AWS_ACCESS_KEY_ID="ASIA..."
AWS_SECRET_ACCESS_KEY="zadggL..."
AWS_SESSION_TOKEN="IQoJb3J..."
# below environments are set as env variables in the task definition

BUCKET_NAME="bluearchio-alerts-engine-00bb4370"
TOPIC_ARN="arn:aws:sns:us-east-1:265626281494:alerts-engine-1-test-SNSEmailTopic-jsbmA0cJXP0C"
ROLE_NAME="BlueArchAlertsAccess-1-test"
ROLE_EXTERNAL_ID="BlueArchAlertingEngineAPIExternalID" # Change later
ROLE_SESSION_NAME="BlueArchAlertsEngine"
CURRENT_REGION="us-east-1"
STACKSET_ID="BlueArch-AlertsEngine-1-test:74fdee97-12df-48c9-ac0a-88824cd0e765"
CURRENT_ACCOUNT_ID="265626281494"
STATE_MACHINE_ARN="arn:aws:states:us-east-1:265626281494:stateMachine:MyStateMachine-4eiuu32pi"
BLUEARCH_DEBUG=1
WORKSPACE="1-test"
ACC_TABLE_NAME="bluearch_alerting_engine_v2_accounts_n_regions_1_test"
REC_TABLE_NAME="bluearch_alerting_engine_v2_recommendations_1_test"
SECRET_ARN="arn:aws:secretsmanager:us-east-1:265626281494:secret:bluearch-alerting-engine-1-test/api-key-secret-1-test-202405"

PAYLOAD=cat ./json_inputs_examples/populate.json